/* Gravity Forms */
body.page-template-default .gform_wrapper {
	input:-internal-autofill-selected {
		background-color: white !important;
	}
	input[type="email"],
	input[type="date"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="month"],
	input[type="number"],
	input[type="password"],
	input[type="search"],
	input[type="tel"],
	input[type="text"],
	input[type="time"],
	input[type="week"],
	input[type="url"],
	select,
	textarea {
		@extend .form-control;
	}
	select {
		text-indent: 0 !important;
		margin-left: 0 !important;
	}
	.button {
		@extend .btn;
		@extend .btn-primary;
	}
	form {
		margin-bottom: 0;
	}
	.form-inline .label {
		@extend .sr-only;
	}
	.top_label .gfield_label {
		font-size: $font-size-sm;
	}
	ul {
		@extend .list-unstyled;
		width: 100% !important;
	}
	li {
		@extend .form-group;
	}
	.gfield_required {
		padding-left: 1px;
		color: $danger;
	}
	.validation_error, .gfield_description.validation_message {
		@extend .alert;
		@extend .alert-danger;
		font-weight: normal;
		background-color: $danger;
		color: white;
		border-radius: 0;
		margin-bottom: 1em;
		border: none;
		border-radius: 3px;
	}
	li.gfield.gfield_error, li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
		background-color: transparent;
		border: none;
	}
	.validation_message,
	.gform_validation_container,
	.form-inline label {
		display: none !important;
	}
	.gform_confirmation_message {
		color: $primary;
		font-weight: bold;
	}
	.custom-control {
		padding-left: 0;
		.ginput_container_checkbox {
			padding-left: 0px;
		}
	}
	.form-check {
		margin-bottom: .3em;
		&:last-child {
			margin-bottom: 1em;
		}
		label {
			margin-left: 1.7em;
			@extend .custom-control-label;
			
			&:before {
				border-width: 1px;
			}
		}
	}
	ul.gform_fields li.gfield {
		padding: 0;
	}
	li.gfield_error .ginput_container {
		input, select, textarea {
			background-color: transparent;
		}
	}
	li.gfield_error {
		.custom-checkbox {
			.validation_message {
				display: block;
				color: $danger;
				font-weight: bold;
				margin-left: -5px;
			}
			.form-check {
				label::before {
					border-color: lighten($danger, 22); 
				}
			}
		}
		.gfield_label {
			color: $body-color;
		}
	}
	#gfield_description_2_4 {
		display: none;
	}
	.StripeElement {
		padding-top: 13px;
	}
	&.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
		max-width: 100% !important;
	}
	.gfield_error {
		input, select, textarea {
			border-color: $danger !important;
		}
		.custom-checkbox {
			.validation_message {
				display: block;
				color: $danger;
				font-weight: bold;
				margin-left: -5px;
			}
		}
	}
	.gfield_description.validation_message {
		margin-bottom: 0;
	}
	.gfield_error {
		.ginput_container_email, .ginput_container_password, .ginput_container_text, .ginput_container_select, .ginput_container_date {
			padding-bottom: .5em;
		}
		.input-group-text {
			@extend .border-danger;
			@extend .bg-danger;
			color: white;
		}
	}
	.ginput_container_creditcard {
		.validation_message {
			display: none;
		}
	}
	.StripeElement--invalid {
		border-color: $danger;
	}
	.gfield_error {
		&.input-group .validation_message {
			margin-top: .5em;	
			width: 100%;
		}
	}	
	.instruction.validation_message {
		font-size: $font-size-sm;
		font-weight: bold;
	}
	.gfield_checkbox li label {
		max-width: 100%;
	}
	.gform_previous_button.button {
		background-color: transparent;
		border: none;
		box-shadow: none;
		padding: 0;
		text-align: left;
		color: $body-color;
		
		@include media-breakpoint-down('sm') {
			padding-bottom: .5em;
		}
	}
	/* Spinner */
	.gform_ajax_spinner {
		margin-left: 20px;
		border: 4px solid rgba(255, 255, 255, 0.3);
		border-left: 4px solid rgba(15, 113, 182, 0.7);
		animation: spinner 1.1s infinite linear;
		border-radius: 50%;
		width: 30px;
		height: 30px;
	}
	@keyframes spinner {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
	.radio-buttons {
		.gfield_radio {
			width: 100%;
			display: flex;
			@extend .clearfix;
			
			input[type=text] {
				border:none;
			}
			li {
				@extend .flex-fill;
				margin: 0 10px 5px 0;
				height: 60px;
				position: relative;
				background-color: white;
				overflow: hidden;
				
				&:last-child {
					margin-right: 0;
				}
			}
			@media(max-width: 767px) {
				li {
					width: 100%;
				}
				
			}
			label, input {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				transition: all .3s ease-in-out;
				max-width: 100%;
				width: 100%;
			}
			input[type="radio"] {
				opacity: 0.011;
				z-index: 100;
			}
			input[type="radio"]:checked + label {
				background: $secondary;
				color: white;
				border-color: $secondary;
				
				&:before {
					font-family: "fontawesome";
				    color: white;
				    content: "\f00c";
				    position: absolute;
				    left: 10%;
				    top: 35%;
				    
				    @include media-breakpoint-down('sm') {
						display: none;
					}
				}
			}
			label {
				border: 1px solid $gray-400;
				background-color: $gray-200;
				font-weight: bold;
				font-size: 15px;
				line-height: 1.2em;
				padding: 0px;
				border-radius: 3px;
				cursor: pointer;
			    z-index: 90;
			    height: 100%;
			    display: flex;
			    justify-content: center;
			    align-items: center;
			    text-align: center;
			}
			label:hover {
				background-color: $secondary;
				border-color: $secondary;
				color: white;
			}
		}
	}
	.radio-buttons-sm {
		input[type="radio"]:checked + label {
		
			&:before {
				display: none;
			}
		}
	}
	.gform_validation_error {
		.validation_error {
			font-size: $font-size-base;
		}
	}
	li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), li.gfield_error textarea {
		border: 2px solid $danger;
	}
	/* Spinner */
	.gform_ajax_spinner {
		margin-left: 20px;
		border: 4px solid rgba(255, 255, 255, 0.3);
		border-left: 4px solid rgba(176, 30, 58, 0.7);
		animation: spinner 1.1s infinite linear;
		border-radius: 50%;
		width: 30px;
		height: 30px;
	}
	@keyframes spinner {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}